@import url('https://fonts.google.com/specimen/Space+Mono');
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box ;
    
}
body {
    background-color: hsl(185, 41%, 84%);
    font-family: Space Mono;
    

}
.flex-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
   
   

}
.outline {
    background-color:hsl(0, 0%, 100%) ;
    display: flex;
    justify-content: space-around;
    width: 800px;
    border-radius: 10px;
    padding: 40px;

}

.
.btns {
    display: block;
}
.disp {
    display: flex;
    border: 2px solid black;
    padding: 20px;
    justify-content: space-around;
    width: 400px;
    font-size: 24px;

    border-radius: 10px;
    background-color:  hsl(183, 100%, 15%);

}

#logo {
    padding: 30px;
    width: 15vh;
    margin-top: 100px;
}
#reset {
    text-align: center;
    width: 350%;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    align-items: center;
    display: block;
    background-color:hsl(172, 67%, 45%);
    
}
#reset:hover {
    background-color: hsl(183, 41%, 63%);
}

.text1 {
  
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    width: 80px;
    
}
.text2 {
    font-size: 12px;
    color: hsl(186, 14%, 43%);
    margin-bottom: 60px;
}

.toPay {
    margin-top: 30px;
    margin-left: 50px;
}
#tipNums {
    margin-bottom: 60px;
    color:  hsl(172, 67%, 45%);
    font-family: Space Mono;
    font-weight: 1000;
    
}
#totalNums {
    color:  hsl(172, 67%, 45%);
    font-weight: 1000;
}
p {
    font-size: 14px;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    margin-top: 25px;
    
}
#bill {
    font-size: 17px;
    border-radius: 3px;
    border-color: hsl(185, 41%, 84%);
    padding:3px;
    border: 0;
    width: 95%;
    background-color:hsl(185, 41%, 84%);
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 350px;
}


#one {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    margin: 9px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    background-color:hsl(183, 100%, 15%);

}
#pili{
    padding: 5px;
    margin: 9px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    background-color:hsl(183, 100%, 15%);

}
#three {
    padding: 5px;
    margin: 9px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    background-color:hsl(183, 100%, 15%);

}
#four {
    padding: 5px;
    margin: 9px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    background-color:hsl(183, 100%, 15%);

}
#five {
    
    margin: 9px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    background-color:hsl(183, 100%, 15%);

}
#custom {
    padding: 5px;
    margin: 9px;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 5px;
    width: 90px;
    border-color:hsl(185, 41%, 84%);
    background-color:hsl(185, 41%, 84%);
}
#NumPeople {
    font-size: 17px;
    border-radius: 3px;
    border-color: hsl(185, 41%, 84%);
    padding:3px;
    border: 0;
    width: 95%;
    background-color:hsl(185, 41%, 84%);
}

#one:hover{
    background-color:hsl(172, 67%, 45%) ;
    border: none;
}

#pili:hover{
    background-color:hsl(172, 67%, 45%) ;
    border: none;
}

#three:hover{
    background-color:hsl(172, 67%, 45%) ;
    border: none;
}

#four:hover{
    background-color:hsl(172, 67%, 45%);
    border: none;
}

#five:hover{
    background-color:hsl(172, 67%, 45%) ;
    border: none;
}

.attribution {
    margin-top: 70px;
}


@media all and (max-width:400px){
.outline {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    padding: 10px;
    
}

.disp {
    max-width: 800px;
    align-items: center;
    margin-top: 30px;
}
.btns {
    flex-wrap: wrap;
    max-width: 300px;
}
#reset {
    width: 300%;
}
    
}



